.Footer_section {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background: black;
}
.Footer_section .Social_media {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    margin: 1.2rem 0;
    font-size: 1.1rem;
}
.social_icon {
    cursor: pointer;
}
.social_icon:hover {
    color: #777;
}
.footer_text p {
    color: #777;
    font-size: 13px;
}
.footer_text span {
    color: white;
}